{define title}Editor{/define}
{define description}Editor cv.{/define}
{block content}
{control cvInfoForm}
{/block}
{block scripts}
{include parent}
<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/tinymce.init.js"></script>
<script type="text/javascript">
</script>
{/block}