<!DOCTYPE html>
<html lang="cs-cz">
        <head>
            {block head}
                <meta charset="UTF-8" />
                <title>{include title|striptags}</title>
                <meta name="description" content="{include description|striptags}" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                {block css}
                <!-- Bootstrap Core CSS -->
                <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
                <link rel="stylesheet" href="{$basePath}/css/style.css" type="text/css"/>
                <!-- jQuery -->               
                <script src="{$basePath}/js/jquery.js"></script>
                <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
                <script src="{$basePath}/js/photo-gallery.js"></script>
                <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
                <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
                {\Zet\FileUpload\FileUploadControl::getHead($basePath)}
                {\Zet\FileUpload\FileUploadControl::getScripts($basePath)}   
                {/block}
            {/block}
        </head>
        <body id="myPage">
                <!-- Page Content -->
                <div class="container-fluid">
                    <div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type" role="alert" id="alert">{$flash->message}</div>
                        <div class="row">
                            <div class="col-lg-12">
                                <article>
                                    <section>
                                        {include content} {* Vložení obsahu do šablony. *}                                                      
                                    </section>
                                </article>
                            </div>                                    
                        </div>
                </div> 
                <footer class="container-fluid text-center">
                    <p>CZkiniCZ © 2017</p>
                </footer>
                {block scripts}
                    <script src="http://code.jquery.com/jquery-1.7.js"></script>
                    <script src="{$basePath}/js/jquery.js"></script>
                    <script src="{$basePath}/js/netteForms.js"></script>
                    <script src="{$basePath}/js/nette.ajax.js"></script> {* Nette Ajax depens on jQuery *}
                    <script src="{$basePath}/js/main.js"></script>

                    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                    <!--[if lt IE 9]>
                    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                    <![endif]-->

                    <!-- jQuery -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
                    <!-- Bootstrap Core JavaScript -->
                    <script src="{$basePath}/js/bootstrap.min.js"></script>
                    <script> <!-- Nějaký konflikt jquery a bootstrapu -->
                    $.fn.bootstrapBtn = $.fn.button.noConflict();
                    </script>
                    {\Zet\FileUpload\FileUploadControl::getHead($basePath)}
                    {\Zet\FileUpload\FileUploadControl::getScripts($basePath)}   
                    <script type="text/javascript" src="{$basePath}/js/confirm.js"></script>
                {/block}
        </body>
</html>

